@page "/admin_handler_posts_page"

@using PolimerWebProj.Shared.Dto.BlogPost;



<AuthorizeView Roles="Adminstrator">
    <Authorized>
        <MudPaper>
            <div class="row">
                <div class="col">
                    <MudTable ServerData="@(new Func<TableState, Task<TableData<BlogPostDto>>>(GetServerData))"
                              Hover="true" Breakpoint="Breakpoint.Sm" RightAlignSmall="true" @ref="_table" Loading="true" LoadingProgressColor="@Color.Secondary">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">
                                <div class="IFArchitectsDaughter-Regular">
                                    Posts Table
                                </div>
                            </MudText>
                            <MudSpacer />
                            <MudTextField OnDebounceIntervalElapsed="OnSearch" Placeholder="Search by name" Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" T="string" DebounceInterval="500"></MudTextField>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Post Name</MudTh>
                            <MudTh>Auther</MudTh>
                            <MudTh>Summery</MudTh>
                            <MudTh>Image</MudTh>
                            <MudTh>Admin action</MudTh>
                        </HeaderContent>
                        <RowTemplate Context="rowContext">
                            <MudTd DataLabel="Post Name">@rowContext.PostName</MudTd>
                            <MudTd DataLabel="Author">@rowContext.PostAuthorName</MudTd>
                            <MudTd DataLabel="Summery">
                                @{
                                    if (rowContext.PostText.Length >= 30)
                                    {
                                        <MudText>@rowContext.PostText[0..26] ...</MudText>
                                    }
                                    else
                                    {
                                        <MudText>@rowContext.PostText</MudText>
                                    }
                                }
                            </MudTd>
                            <MudTd DataLabel="Image">
                                <img src="@rowContext.PostImageAddress" />
                            </MudTd>
                            <MudTd DataLabel="admin Actions">
                                <MudButton Variant="Variant.Filled" Color="Color.Warning" OnClick="(()=>EditPost(rowContext.Id))">Edit</MudButton>
                                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="(()=>DeletePost(rowContext.Id))">Delete</MudButton>
                            </MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager PageSizeOptions="@_pageSizeOption" RowsPerPageString="Posts per page" />
                        </PagerContent>
                    </MudTable>
                </div>
            </div>
        </MudPaper>
    </Authorized>
    <NotAuthorized>
        <MudAlert Severity="Severity.Error">
            <MudText Typo="Typo.h1"> You Have Not Permission </MudText>
        </MudAlert>
    </NotAuthorized>
</AuthorizeView>